/* line 5, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media screen and (min-width: 1200px) {
  /* line 11, ../sass/style.scss */
  .left-nav-bar {
    display: "";
    width: 120px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: "";
    bottom: "";
    left: 0px;
  }
  /* line 14, ../sass/style.scss */
  .left-nav-bar .nav {
    display: block;
    width: 100%;
    height: 140px;
    margin-top: 10%;
  }
  /* line 16, ../sass/style.scss */
  .left-nav-bar .nav img.icon {
    display: block;
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
    right: "";
    bottom: "";
    left: "";
    margin: 0 10% 10% 5%;
  }
  /* line 21, ../sass/style.scss */
  .left-nav-bar .nav p {
    font-size: 22px;
  }

  /* line 27, ../sass/style.scss */
  #body {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: "";
    bottom: "";
    left: 120px;
  }
  /* line 30, ../sass/style.scss */
  #body .photo-filter {
    display: block;
    width: 100%;
    height: "";
  }
  /* line 33, ../sass/style.scss */
  #body .banner {
    width: 90%;
  }
  /* line 35, ../sass/style.scss */
  #body .banner .single-portfolio {
    display: inline-block;
    width: "";
    height: "";
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  /* line 43, ../sass/style.scss */
  .left-nav-bar {
    display: "";
    width: 100px;
    height: 110vh;
    position: fixed;
    top: 0px;
    right: "";
    bottom: "";
    left: 0px;
    padding-top: 25px;
  }
  /* line 47, ../sass/style.scss */
  .left-nav-bar .nav {
    margin-top: 35%;
  }
  /* line 48, ../sass/style.scss */
  .left-nav-bar .nav img.icon {
    display: block;
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
    right: "";
    bottom: "";
    left: "";
    margin: auto;
  }
  /* line 53, ../sass/style.scss */
  .left-nav-bar .nav p {
    font-size: 22px;
    margin: 20px auto;
  }

  /* line 60, ../sass/style.scss */
  #body {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: "";
    bottom: "";
    left: 65px;
    text-align: center;
  }
  /* line 64, ../sass/style.scss */
  #body .photo-filter {
    display: block;
    width: 90%;
    height: "";
    margin: 0 auto;
  }
  /* line 68, ../sass/style.scss */
  #body .banner {
    width: 90%;
    margin-left: calc((100vw - 925px)/2);
  }
  /* line 71, ../sass/style.scss */
  #body .banner .single-portfolio {
    display: inline-block;
    width: 300px;
    height: 210px;
  }
  /* line 76, ../sass/style.scss */
  #body .locationPage #map {
    display: "";
    width: 50%;
    height: 70%;
    position: absolute;
    top: 15vh;
    right: 15vw;
    bottom: "";
    left: "";
  }

  /* line 83, ../sass/style.scss */
  .imgDisplay .show {
    display: flex;
    width: 70vw;
    height: 60vh;
    position: absolute;
    top: 25%;
    right: 15vw;
    bottom: "";
    left: "";
    align-items: center;
  }
  /* line 88, ../sass/style.scss */
  .imgDisplay .show img {
    max-width: 70vw;
    max-height: 50vh;
    margin: 0 auto;
  }
  /* line 93, ../sass/style.scss */
  .imgDisplay .show .close {
    display: "";
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: "";
    left: "";
    line-height: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px) and (min-height: 1000px) {
  /* line 107, ../sass/style.scss */
  .left-nav-bar {
    display: "";
    width: 100vw;
    height: 100px;
    position: fixed;
    top: "";
    right: "";
    bottom: 0px;
    left: 0px;
  }
  /* line 110, ../sass/style.scss */
  .left-nav-bar .nav {
    display: inline-block;
    width: 24%;
    height: 100px;
  }
  /* line 112, ../sass/style.scss */
  .left-nav-bar .nav img.icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
  }
  /* line 116, ../sass/style.scss */
  .left-nav-bar .nav p {
    font-size: 13px;
    margin: 5px auto;
  }

  /* line 122, ../sass/style.scss */
  #body {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: "";
    bottom: "";
    left: 0px;
    margin-bottom: 160px;
    text-align: center;
  }
  /* line 127, ../sass/style.scss */
  #body .photo-filter {
    display: block;
    width: 90%;
    height: "";
    margin: 0 auto;
  }
  /* line 132, ../sass/style.scss */
  #body .banner {
    width: 90%;
    margin-left: calc(50vw - 300px);
  }
  /* line 135, ../sass/style.scss */
  #body .banner .single-portfolio {
    display: inline-block;
    width: 300px;
    height: 210px;
  }
  /* line 140, ../sass/style.scss */
  #body .locationPage #map {
    display: "";
    width: 50%;
    height: 70%;
    position: absolute;
    top: 15vh;
    right: 15vw;
    bottom: "";
    left: "";
  }

  /* line 147, ../sass/style.scss */
  .imgDisplay .show {
    display: flex;
    width: 80vw;
    height: 50vh;
    position: absolute;
    top: 25%;
    right: 10vw;
    bottom: "";
    left: "";
    align-items: center;
  }
  /* line 152, ../sass/style.scss */
  .imgDisplay .show img {
    max-width: 70vw;
    max-height: 50vh;
    margin: 0 auto;
  }
  /* line 157, ../sass/style.scss */
  .imgDisplay .show .close {
    display: "";
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: "";
    left: "";
    line-height: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 667px) and (max-width: 812px) and (max-height: 414px) {
  /* line 172, ../sass/style.scss */
  .left-nav-bar {
    display: "";
    width: 65px;
    height: 110vh;
    position: fixed;
    top: 0px;
    right: "";
    bottom: "";
    left: 0px;
    padding-top: 15px;
  }
  /* line 176, ../sass/style.scss */
  .left-nav-bar .nav {
    margin-top: 20%;
  }
  /* line 177, ../sass/style.scss */
  .left-nav-bar .nav img.icon {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    right: "";
    bottom: "";
    left: "";
    margin: auto;
  }
  /* line 182, ../sass/style.scss */
  .left-nav-bar .nav p {
    font-size: 13px;
    margin: 10px auto;
  }

  /* line 189, ../sass/style.scss */
  #body {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: "";
    bottom: "";
    left: 65px;
    text-align: center;
  }
  /* line 193, ../sass/style.scss */
  #body .photo-filter {
    display: block;
    width: 90%;
    height: "";
    margin: 0 auto;
  }
  /* line 197, ../sass/style.scss */
  #body .banner {
    width: 620px;
    margin-left: calc((100vw - 685px)/2);
  }
  /* line 200, ../sass/style.scss */
  #body .banner .single-portfolio {
    display: inline-block;
    width: 300px;
    height: 210px;
  }
  /* line 205, ../sass/style.scss */
  #body .locationPage #map {
    display: "";
    width: 50%;
    height: 70%;
    position: absolute;
    top: 15vh;
    right: 15vw;
    bottom: "";
    left: "";
  }

  /* line 212, ../sass/style.scss */
  .imgDisplay .show {
    display: flex;
    width: 60vw;
    height: 50vh;
    position: fixed;
    top: 25%;
    right: 20vw;
    bottom: "";
    left: "";
    align-items: center;
  }
  /* line 217, ../sass/style.scss */
  .imgDisplay .show img {
    max-width: 80vw;
    max-height: 50vh;
    margin: 0 auto;
  }
  /* line 222, ../sass/style.scss */
  .imgDisplay .show .close {
    display: "";
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: "";
    left: "";
    line-height: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 360px) and (max-width: 440px) {
  /* line 237, ../sass/style.scss */
  .left-nav-bar {
    display: "";
    width: 100vw;
    height: 100px;
    position: fixed;
    top: "";
    right: "";
    bottom: 0px;
    left: 0px;
  }
  /* line 240, ../sass/style.scss */
  .left-nav-bar .nav {
    display: inline-block;
    width: 24%;
    height: 100px;
  }
  /* line 242, ../sass/style.scss */
  .left-nav-bar .nav img.icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
  }
  /* line 246, ../sass/style.scss */
  .left-nav-bar .nav p {
    font-size: 13px;
    margin: 5px auto;
  }

  /* line 252, ../sass/style.scss */
  #body {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: "";
    bottom: "";
    left: 0px;
    margin-bottom: 160px;
    text-align: center;
  }
  /* line 257, ../sass/style.scss */
  #body .photo-filter {
    display: block;
    width: 90%;
    height: "";
    margin: 0 auto;
  }
  /* line 262, ../sass/style.scss */
  #body .banner {
    width: 90%;
    margin-left: calc(50vw - 150px);
  }
  /* line 265, ../sass/style.scss */
  #body .banner .single-portfolio {
    display: inline-block;
    width: 300px;
    height: 210px;
  }
  /* line 270, ../sass/style.scss */
  #body .locationPage #map {
    display: "";
    width: 50%;
    height: 70%;
    position: absolute;
    top: 15vh;
    right: 15vw;
    bottom: "";
    left: "";
  }

  /* line 277, ../sass/style.scss */
  .imgDisplay .show {
    display: flex;
    width: 60vw;
    height: 50vh;
    position: fixed;
    top: 25%;
    right: 20vw;
    bottom: "";
    left: "";
    align-items: center;
  }
  /* line 282, ../sass/style.scss */
  .imgDisplay .show img {
    max-width: 80vw;
    max-height: 50vh;
    margin: 0 auto;
  }
  /* line 287, ../sass/style.scss */
  .imgDisplay .show .close {
    display: "";
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: "";
    left: "";
    line-height: 20px;
    text-align: center;
  }
}
/* line 301, ../sass/style.scss */
.left-nav-bar {
  z-index: 2;
  background-color: black;
}
/* line 304, ../sass/style.scss */
.left-nav-bar .nav {
  background-color: black;
}
/* line 307, ../sass/style.scss */
.left-nav-bar .nav img.icon {
  border: 1px solid black;
  border-radius: 100%;
  padding: 5px;
  background-color: white;
}
/* line 312, ../sass/style.scss */
.left-nav-bar .nav p {
  text-align: center;
  color: white;
}

/* line 320, ../sass/style.scss */
body {
  overflow: scroll;
  overflow-x: hidden;
}

/* line 324, ../sass/style.scss */
#body {
  z-index: 1;
  text-align: center;
  background-color: black;
  overflow: inherit;
  display: block;
  position: relative;
}
/* line 331, ../sass/style.scss */
#body .photo-filter {
  color: aliceblue;
  margin-top: 10px;
  text-align: center;
}
/* line 335, ../sass/style.scss */
#body .photo-filter ul {
  display: inline-block;
  width: 100%;
  height: "";
  text-align: center;
}
/* line 339, ../sass/style.scss */
#body .photo-filter ul li {
  display: inline-block;
  width: 22%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid orangered;
}
/* line 346, ../sass/style.scss */
#body .photo-filter ul li.clicked {
  border-bottom: 3px solid orangered;
}
/* line 352, ../sass/style.scss */
#body .banner {
  background-color: "";
  position: relative;
  height: 120vh;
  min-height: 824px;
}
/* line 355, ../sass/style.scss */
#body .banner .single-portfolio {
  float: left;
  text-align: center;
  margin: 3px;
}
/* line 359, ../sass/style.scss */
#body .banner .single-portfolio .img-responsive {
  max-height: 200px;
}
/* line 364, ../sass/style.scss */
#body .locationPage {
  background-color: black;
  position: relative;
  height: 110vh;
}
/* line 367, ../sass/style.scss */
#body .rulePage {
  background-color: yellow;
  position: relative;
  height: 110vh;
}
/* line 370, ../sass/style.scss */
#body .contentPage {
  background-color: gray;
  position: relative;
  height: 110vh;
}

/* line 375, ../sass/style.scss */
.imgDisplay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: "";
  bottom: "";
  left: "";
  z-index: 1;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.75);
}
/* line 388, ../sass/style.scss */
.imgDisplay .show .close {
  display: "";
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
/* line 397, ../sass/style.scss */
.imgDisplay .show .close::before {
  content: "\2716";
}
/* line 400, ../sass/style.scss */
.imgDisplay .show .pre {
  display: "";
  width: 0px;
  height: 0px;
  height: 0;
  width: 0;
  border-right: 25.9998px solid red;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 45%;
  right: "";
  bottom: "";
  left: "";
}
/* line 406, ../sass/style.scss */
.imgDisplay .show .next {
  display: "";
  width: 0px;
  height: 0px;
  height: 0;
  width: 0;
  border-left: 25.9998px solid red;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 45%;
  right: 0;
  bottom: "";
  left: "";
}
