/* line 5, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media screen and (min-width: 1200px) {
  /* line 11, ../sass/style.scss */
  .left-nav-bar {
    display: "";
    width: 120px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: "";
    bottom: "";
    left: 0px;
  }
  /* line 14, ../sass/style.scss */
  .left-nav-bar .nav {
    display: block;
    width: 100%;
    height: 140px;
    margin-top: calc(25vh - 150px);
  }
  /* line 17, ../sass/style.scss */
  .left-nav-bar .nav img.icon {
    display: block;
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
    right: "";
    bottom: "";
    left: "";
    margin: 13px auto;
  }
  /* line 22, ../sass/style.scss */
  .left-nav-bar .nav p {
    font-size: 22px;
  }

  /* line 27, ../sass/style.scss */
  #body {
    display: none;
    width: calc(100vw - 120px);
    height: 100%;
    position: fixed;
    top: 0;
    right: "";
    bottom: "";
    left: 120px;
  }
  /* line 30, ../sass/style.scss */
  #body .photo-filter {
    display: block;
    width: 90%;
    height: "";
  }
  /* line 33, ../sass/style.scss */
  #body .banner {
    width: 90%;
  }
  /* line 35, ../sass/style.scss */
  #body .banner .single-portfolio {
    display: inline-block;
    width: "";
    height: "";
  }
  /* line 40, ../sass/style.scss */
  #body .locationPage #map {
    display: inline-block;
    width: 40vw;
    height: 50vh;
    position: relative;
    top: 20%;
    right: "";
    bottom: "";
    left: 10vw;
    z-index: 2;
  }
  /* line 45, ../sass/style.scss */
  #body .locationPage .location {
    position: relative;
    top: 10%;
    right: "";
    bottom: "";
    left: 0px;
    font-size: 22px;
  }
  /* line 51, ../sass/style.scss */
  #body .rulePage {
    background-color: black;
    position: relative;
    height: 400px;
  }
  /* line 53, ../sass/style.scss */
  #body .rulePage .rule {
    position: relative;
    top: 5vh;
    right: "";
    bottom: "";
    left: "";
  }

  /* line 59, ../sass/style.scss */
  .imgDisplay .show {
    display: flex;
    width: 600px;
    height: 375px;
    position: absolute;
    top: 20%;
    right: "";
    bottom: "";
    left: calc(50vw- 300px);
    align-items: center;
    margin-left: 25vw;
  }
  /* line 64, ../sass/style.scss */
  .imgDisplay .show img {
    max-width: 500px;
    max-height: 375px;
    margin: 0 auto;
  }
  /* line 69, ../sass/style.scss */
  .imgDisplay .show .close {
    display: "";
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: "";
    left: "";
    line-height: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  /* line 81, ../sass/style.scss */
  .left-nav-bar {
    z-index: 2;
    display: "";
    width: 100px;
    height: 110vh;
    position: fixed;
    top: 0px;
    right: "";
    bottom: "";
    left: 0px;
  }
  /* line 85, ../sass/style.scss */
  .left-nav-bar .nav {
    margin-top: 35%;
  }
  /* line 86, ../sass/style.scss */
  .left-nav-bar .nav img.icon {
    display: block;
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
    right: "";
    bottom: "";
    left: "";
    margin: auto;
  }
  /* line 91, ../sass/style.scss */
  .left-nav-bar .nav p {
    font-size: 22px;
    margin: 20px auto;
  }

  /* line 98, ../sass/style.scss */
  #body {
    display: none;
    width: calc(100vw - 100px);
    height: 100%;
    position: absolute;
    top: 0;
    right: "";
    bottom: "";
    left: 65px;
    text-align: center;
  }
  /* line 102, ../sass/style.scss */
  #body .photo-filter {
    display: block;
    width: 90%;
    height: "";
    margin: 0 auto;
  }
  /* line 106, ../sass/style.scss */
  #body .banner {
    width: 100%;
    margin-left: calc((100vw - 925px)/2);
  }
  /* line 109, ../sass/style.scss */
  #body .banner .single-portfolio {
    display: inline-block;
    width: 300px;
    height: 210px;
  }
  /* line 114, ../sass/style.scss */
  #body .locationPage #map {
    display: inline-block;
    width: 500px;
    height: 450px;
    position: absolute;
    top: 20%;
    right: "";
    bottom: "";
    left: calc(100vw - 600px);
  }
  /* line 118, ../sass/style.scss */
  #body .locationPage .location {
    position: relative;
    top: 25%;
    right: "";
    bottom: "";
    left: -200px;
    font-size: 22px;
  }
  /* line 123, ../sass/style.scss */
  #body .rulePage {
    background-color: black;
    position: relative;
    height: 100vh;
  }
  /* line 125, ../sass/style.scss */
  #body .rulePage .rule {
    position: relative;
    top: 200px;
    right: "";
    bottom: "";
    left: "";
  }

  /* line 131, ../sass/style.scss */
  .imgDisplay .show {
    display: flex;
    width: 70vw;
    height: 60vh;
    position: absolute;
    top: 20%;
    right: "";
    bottom: "";
    left: 0px;
    align-items: center;
    margin-left: 15vw;
  }
  /* line 136, ../sass/style.scss */
  .imgDisplay .show img {
    max-width: 70vw;
    max-height: 60vh;
    margin: 0 auto;
  }
  /* line 141, ../sass/style.scss */
  .imgDisplay .show .close {
    display: "";
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: "";
    left: "";
    line-height: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 769px) {
  /* line 155, ../sass/style.scss */
  .left-nav-bar {
    display: "";
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0px;
    right: "";
    bottom: "";
    left: 0px;
  }
  /* line 158, ../sass/style.scss */
  .left-nav-bar .nav {
    display: inline-block;
    width: 24%;
    height: 100px;
  }
  /* line 160, ../sass/style.scss */
  .left-nav-bar .nav img.icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
  }
  /* line 164, ../sass/style.scss */
  .left-nav-bar .nav p {
    font-size: 13px;
    margin: 5px auto;
  }

  /* line 170, ../sass/style.scss */
  #body {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: "";
    bottom: "";
    left: 0px;
    margin-top: 100px;
    text-align: center;
  }
  /* line 175, ../sass/style.scss */
  #body .photo-filter {
    display: block;
    width: 90%;
    height: "";
    margin: 0 auto;
  }
  /* line 180, ../sass/style.scss */
  #body .banner {
    width: 90%;
    margin-left: calc(50vw - 300px);
  }
  /* line 183, ../sass/style.scss */
  #body .banner .single-portfolio {
    display: inline-block;
    width: 300px;
    height: 210px;
  }
  /* line 188, ../sass/style.scss */
  #body .locationPage #map {
    display: "";
    width: 70%;
    height: 40%;
    position: absolute;
    top: 45vh;
    right: 15vw;
    bottom: "";
    left: "";
  }
  /* line 192, ../sass/style.scss */
  #body .locationPage .location {
    position: relative;
    top: 10%;
    right: "";
    bottom: "";
    left: 0px;
    font-size: 22px;
  }
  /* line 197, ../sass/style.scss */
  #body .rulePage {
    background-color: black;
    position: relative;
    height: 90vh;
  }
  /* line 199, ../sass/style.scss */
  #body .rulePage .rule {
    position: relative;
    top: 300px;
    right: "";
    bottom: "";
    left: "";
  }

  /* line 205, ../sass/style.scss */
  .imgDisplay .show {
    display: flex;
    width: 80vw;
    height: 50vh;
    position: absolute;
    top: 25%;
    right: 10vw;
    bottom: "";
    left: "";
    align-items: center;
  }
  /* line 210, ../sass/style.scss */
  .imgDisplay .show img {
    max-width: 70vw;
    max-height: 50vh;
    margin: 0 auto;
  }
  /* line 215, ../sass/style.scss */
  .imgDisplay .show .close {
    display: "";
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: "";
    left: "";
    line-height: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 640px) and (max-width: 812px) and (max-height: 414px) {
  /* line 230, ../sass/style.scss */
  .left-nav-bar {
    display: "";
    width: 65px;
    height: 110vh;
    position: fixed;
    top: 0px;
    right: "";
    bottom: "";
    left: 0px;
    padding-top: 1vh;
  }
  /* line 234, ../sass/style.scss */
  .left-nav-bar .nav {
    margin-top: 20%;
  }
  /* line 236, ../sass/style.scss */
  .left-nav-bar .nav img.icon {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    right: "";
    bottom: "";
    left: "";
    margin: auto;
  }
  /* line 241, ../sass/style.scss */
  .left-nav-bar .nav p {
    font-size: 13px;
    margin: 10px auto;
  }

  /* line 248, ../sass/style.scss */
  #body {
    display: none;
    width: calc(100vw - 65px);
    height: 100%;
    position: absolute;
    top: 0;
    right: "";
    bottom: "";
    left: 65px;
    text-align: center;
  }
  /* line 252, ../sass/style.scss */
  #body .photo-filter {
    display: block;
    width: 90%;
    height: "";
    margin: 0 auto;
  }
  /* line 256, ../sass/style.scss */
  #body .banner {
    width: 620px;
    margin-left: calc((100vw - 685px)/2);
  }
  /* line 259, ../sass/style.scss */
  #body .banner .single-portfolio {
    display: inline-block;
    width: 300px;
    height: 210px;
  }
  /* line 264, ../sass/style.scss */
  #body .locationPage #map {
    display: "";
    width: 50%;
    height: 70%;
    position: absolute;
    top: 15vh;
    right: 10vw;
    bottom: "";
    left: "";
  }
  /* line 268, ../sass/style.scss */
  #body .locationPage .location {
    position: relative;
    top: 12%;
    right: "";
    bottom: "";
    left: -200px;
    font-size: 16px;
  }
  /* line 273, ../sass/style.scss */
  #body .rulePage {
    background-color: black;
    position: relative;
    height: 100vh;
  }
  /* line 275, ../sass/style.scss */
  #body .rulePage .rule {
    position: relative;
    top: 50px;
    right: "";
    bottom: "";
    left: "";
  }

  /* line 281, ../sass/style.scss */
  .imgDisplay .show {
    display: flex;
    width: 500px;
    height: 300px;
    position: fixed;
    top: calc(50vh - 150px);
    right: calc(50vw - 250px);
    bottom: "";
    left: "";
    align-items: center;
  }
  /* line 285, ../sass/style.scss */
  .imgDisplay .show img {
    max-width: 400px;
    max-height: 300px;
    margin: 0 auto;
  }
  /* line 290, ../sass/style.scss */
  .imgDisplay .show .close {
    display: "";
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: "";
    left: "";
    line-height: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 360px) and (max-width: 440px) {
  /* line 305, ../sass/style.scss */
  .left-nav-bar {
    display: "";
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0px;
    right: "";
    bottom: "";
    left: 0px;
  }
  /* line 308, ../sass/style.scss */
  .left-nav-bar .nav {
    display: inline-block;
    width: 24%;
    height: 100px;
  }
  /* line 310, ../sass/style.scss */
  .left-nav-bar .nav img.icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
  }
  /* line 314, ../sass/style.scss */
  .left-nav-bar .nav p {
    font-size: 13px;
    margin: 5px auto;
  }

  /* line 320, ../sass/style.scss */
  #body {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    top: 100px;
    right: "";
    bottom: "";
    left: 0px;
    text-align: center;
  }
  /* line 324, ../sass/style.scss */
  #body .photo-filter {
    display: block;
    width: 90%;
    height: "";
    margin: 0 auto;
  }
  /* line 329, ../sass/style.scss */
  #body .banner {
    width: 90%;
    margin-left: calc(50vw - 150px);
  }
  /* line 332, ../sass/style.scss */
  #body .banner .single-portfolio {
    display: inline-block;
    width: 300px;
    height: 210px;
  }
  /* line 338, ../sass/style.scss */
  #body .locationPage #map {
    display: "";
    width: 70%;
    height: 40%;
    position: absolute;
    top: 50vh;
    right: 15vw;
    bottom: "";
    left: "";
    margin-top: 100px;
  }
  /* line 344, ../sass/style.scss */
  #body .locationPage .location {
    position: relative;
    top: 10%;
    right: "";
    bottom: "";
    left: 0px;
    font-size: 18px;
    margin-top: 50px;
  }
  /* line 350, ../sass/style.scss */
  #body .rulePage {
    background-color: black;
    position: relative;
    height: 110vh;
  }
  /* line 352, ../sass/style.scss */
  #body .rulePage .rule {
    position: relative;
    top: 100px;
    right: "";
    bottom: "";
    left: "";
  }

  /* line 358, ../sass/style.scss */
  .imgDisplay .show {
    display: flex;
    width: 100vw;
    height: 50vh;
    position: fixed;
    top: 25%;
    right: "";
    bottom: "";
    left: 0px;
    align-items: center;
  }
  /* line 363, ../sass/style.scss */
  .imgDisplay .show img {
    max-width: 80vw;
    max-height: 50vh;
    margin: 0 auto;
  }
  /* line 368, ../sass/style.scss */
  .imgDisplay .show .close {
    display: "";
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: "";
    left: "";
    line-height: 20px;
    text-align: center;
  }
}
/* line 382, ../sass/style.scss */
.left-nav-bar {
  z-index: 2;
  background-color: black;
}
/* line 385, ../sass/style.scss */
.left-nav-bar .nav {
  background-color: black;
}
/* line 388, ../sass/style.scss */
.left-nav-bar .nav img.icon {
  border: 1px solid black;
  border-radius: 100%;
  padding: 5px;
  background-color: white;
}
/* line 393, ../sass/style.scss */
.left-nav-bar .nav p {
  text-align: center;
  color: white;
}

/* line 401, ../sass/style.scss */
body {
  overflow: scroll;
  overflow-x: hidden;
  background-color: black;
}

/* line 406, ../sass/style.scss */
#body {
  z-index: 1;
  text-align: center;
  background-color: black;
  overflow: inherit;
  display: block;
  position: relative;
}
/* line 413, ../sass/style.scss */
#body .photo-filter {
  color: aliceblue;
  margin-top: 10px;
  text-align: center;
}
/* line 417, ../sass/style.scss */
#body .photo-filter ul {
  display: inline-block;
  width: 100%;
  height: "";
  text-align: center;
}
/* line 421, ../sass/style.scss */
#body .photo-filter ul li {
  display: inline-block;
  width: 22%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid orangered;
}
/* line 428, ../sass/style.scss */
#body .photo-filter ul li.clicked {
  border-bottom: 3px solid orangered;
}
/* line 434, ../sass/style.scss */
#body .banner {
  background-color: "";
  position: relative;
  height: "";
  min-height: 824px;
}
/* line 437, ../sass/style.scss */
#body .banner .single-portfolio {
  float: left;
  text-align: center;
  margin: 3px;
}
/* line 441, ../sass/style.scss */
#body .banner .single-portfolio .img-responsive {
  max-height: 200px;
}
/* line 446, ../sass/style.scss */
#body .locationPage {
  background-color: black;
  position: relative;
  height: 110vh;
}
/* line 448, ../sass/style.scss */
#body .locationPage .location {
  display: inline-block;
  width: 200px;
  height: 400px;
  color: white;
  line-height: 50px;
  letter-spacing: 3px;
}
/* line 456, ../sass/style.scss */
#body .rulePage .rule {
  margin: 0 auto;
  font-size: 22px;
  color: white;
}
/* line 460, ../sass/style.scss */
#body .rulePage .rule .policy, #body .rulePage .rule .public {
  border: 2px solid orangered;
  border-radius: 10px;
  display: inline-block;
  width: 30vw;
  height: 300px;
  min-width: 250px;
  vertical-align: top;
  line-height: 50px;
  letter-spacing: 3px;
  padding: 5px;
}
/* line 468, ../sass/style.scss */
#body .rulePage .rule .policy ul, #body .rulePage .rule .public ul {
  text-align: left;
  margin-left: 30px;
}
/* line 478, ../sass/style.scss */
#body .contentPage {
  background-color: black;
  position: relative;
  height: 75vh;
  margin: 0 auto;
}
/* line 481, ../sass/style.scss */
#body .contentPage .content {
  display: block;
  width: 80vw;
  height: 200px;
  position: relative;
  top: 100px;
  right: "";
  bottom: "";
  left: "";
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  line-height: 50px;
  letter-spacing: 3px;
  font-size: 22px;
  color: white;
}

/* line 497, ../sass/style.scss */
.imgDisplay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: "";
  bottom: "";
  left: "";
  z-index: 3;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.75);
}
/* line 503, ../sass/style.scss */
.imgDisplay .show {
  background-color: black;
}
/* line 505, ../sass/style.scss */
.imgDisplay .show .close {
  display: "";
  width: 20px;
  height: 20px;
  color: white;
  font-size: 25px;
  line-height: 20px;
  text-align: center;
}
/* line 512, ../sass/style.scss */
.imgDisplay .show .close::before {
  content: "\2716";
}
/* line 515, ../sass/style.scss */
.imgDisplay .show .pre {
  display: "";
  width: 0px;
  height: 0px;
  height: 0;
  width: 0;
  border-right: 25.9998px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 45%;
  right: "";
  bottom: "";
  left: "";
}
/* line 521, ../sass/style.scss */
.imgDisplay .show .next {
  display: "";
  width: 0px;
  height: 0px;
  height: 0;
  width: 0;
  border-left: 25.9998px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 45%;
  right: 0;
  bottom: "";
  left: "";
}
