/*@import "compass/reset";
@import "compass/css3";
@import "./mixin";

 
$main-color:black;
$color:orangered;
$font-color:white;
//desktop
@media screen and (min-width: 1366px) {
    .left-nav-bar{
        @include layout("",120px,100vh );
        @include position(fixed,0px,"","",0px);
        .nav{
            @include layout(block,100%,140px );
            img.icon{
                @include layout(block,100px,100px);
                @include position(relative,10px,"","","");
                margin:0 10% 10% 5%;
            }
            p{
                font-size: 22px  ;
            }  
            margin-top: 30%;
        }
    }
    #body{
        @include layout(none,100%,100% );
        @include position(fixed,0,"","",120px);
        .photo-filter{
            @include layout(block,100% ,"" );
        }
        .banner{
            width: 80%;
            margin-left: 8%;  
        }
    }
};
//ipad horizontal
@media screen and (min-width: 1024px) and (max-width: 1365px){
    .left-nav-bar{
        @include layout("",120px,100vh );
        @include position(fixed,0px,"","",0px);
       
        .nav{
            img.icon{
                @include layout(block,100px,100px);
                @include position(relative,10px,"","","");
                margin:0 10% 10% 5%;
            }
            p{
                font-size: 22px  ;
            }
            margin-top: 30%;
        }
    }
    #body{
        @include layout(none,100%,100% );
        @include position(fixed,0,"","",120px);
        text-align: center;
        .photo-filter{
            @include layout(block,90% ,"" );
        }
        .banner{
            width: 90%;
        }
    }
    .imgDisplay{
        .show{
            @include layout(flex,70vw,60vh);
            @include position(absolute,25%,15vw,"","");
            align-items:center;
            
            img{
                max-width:70vw;
                max-height:50vh;
                margin: 0 auto;
            }
            .close{
                @include layout("",40px,40px );
                @include border(2px,solid,$main-color,20px);
                @include position(absolute,0,5px,"","");
                line-height: 20px;
                text-align: center;
                
            
            }
        }
    }
}; 
//ipad vertical
@media screen and (min-width: 768px) and (max-width: 900px)and (min-height: 1000px) {
    .left-nav-bar{
        @include layout("",100vw,160px );
        @include position(fixed,"","",0px,0px);
        .nav{
            @include layout(inline-block,24%,140px );
            margin-top: 10px;
            img.icon{
                @include layout(block,100px,100px);
                margin: auto;
            }
            
        }
    }
    #body{
        @include layout(none,100%,calc(100vh - 160px) );
        @include position(relative,0,"","","");
        margin-bottom: 160px;
        text-align: center;
        .photo-filter{
            @include layout(block,100% ,"" );
        }
        .banner{
            width: 100%;
            margin-left: calc(50vw - 300px);
        }
        .locationPage{
            #map{
                @include layout("",80%,40%);
                @include position(absolute,40vh,10vw,"","");
            }   
        }
    }
    .imgDisplay{
        .show{
            @include layout(flex,80vw,50vh);
            @include position(absolute,25%,10vw,"","");
            align-items:center;
            
            img{
                max-width:70vw;
                max-height:50vh;
                margin: 0 auto;
            }
            .close{
                @include layout("",40px,40px );
                @include border(2px,solid,$main-color,20px);
                @include position(absolute,0,5px,"","");
                line-height: 20px;
                text-align: center;
                
            
            }
            
        }
    }
}; 
//i6.7.8.plus.x horizontal
@media screen and (min-width: 667px) and (max-width: 812px)and (max-height: 414px) {
    .left-nav-bar{
        @include layout("",65px,100vh );
        @include position(fixed,0px,"","",0px);
        .nav{
            img.icon{
                @include layout(block,40px,40px);
                @include position(relative,10px,"","","");
                margin:auto;
            }
            p{
                font-size: 13px  ;
                margin:10px auto;
            }
            margin-top: 20%;
        }
    }
    #body{
        @include layout(none,100%,100% );
        @include position(fixed,0,"","",65px);
        text-align: center;
        .photo-filter{
            @include layout(block,90% ,"" );
        }
        .banner{
            width: 90%;
            margin-left: 20px;
        }
        .locationPage{
            #map{
                @include layout("",50%,70%);
                @include position(absolute,15vh,15vw,"","");
            }   
        }
    }
    .imgDisplay{
        .show{
            @include layout(flex,60vw,50vh);
            @include position(absolute,25%,20vw,"","");
            align-items:center;
            
            img{
                max-width:80vw;
                max-height:50vh;
                margin: 0 auto;
            }
            .close{
                @include layout("",30px,30px );
                @include border(2px,solid,$main-color,20px);
                @include position(absolute,0,5px,"","");
                line-height: 20px;
                text-align: center;
                
            
            }
            
        }
    }
} 
//i6.7.8.plus.x vertical
@media screen and (min-width: 360px) and (max-width: 440px) {
    .left-nav-bar{
        @include layout("",100vw,100px );
        @include position(fixed,"","",0px,0px);
        .nav{
            @include layout(inline-block,24%,140px );
            margin-top: 10px;
            img.icon{
                @include layout(block,50px,50px);
                margin: auto;
            }
            p{
                font-size: 16px  ;
                margin-top:3px; 
            }
            
        }
    }
    #body{
        @include layout(none,100%,calc(100vh - 100px) );
        @include position(absolute,0,"","","");
        text-align: center;
        margin-bottom: 100px;
        
        .photo-filter{
            ul{
                li{
                    margin: 0 3px;
                    font-size: 1.2rem
                }
            }
            @include layout(block,100% ,"" );
        }
        .banner{
            margin-left: calc((100vw - 320px)/2);
            align-items:center;
            flex-direction: column;
            width: 100vw;
            .single-portfolio{
                @include position(relative,0,0,0,0);
            }
        }
        .locationPage{
            #map{
                @include layout("",90%,40%);
                @include position(absolute,calc(100vh*0.4),calc(100vw*0.05),"","");
            }   
        }
    }
    .imgDisplay{
        .show{
            @include layout(flex,100vw,calc(100vh/2) );
            @include position(absolute,25%,"","","");
            align-items:center;
            
            img{
                max-width: calc(100vw*0.8);
                max-height: calc(100vh*0.5);
                margin: 0 auto;
            }
            .close{
                @include layout("",30px,30px );
                @include border(2px,solid,$main-color,20px);
                @include position(absolute,0,10px,"","");
                line-height: 20px;
                text-align: center;
                
            
            }
        }
    }
}  
.left-nav-bar{
    z-index: 2;
    background-color: $main-color;
    .nav{
        
        background-color: $main-color;
        img.icon {
            @include border(1px,solid,$main-color,100%);
            padding: 5px ;
            background-color: $font-color;
        }
        p{
            text-align:center;
            color: $font-color;
             
        }
    }
}


#body{
    z-index: 1;
    text-align: center;
    background-color: $main-color;
    overflow: scroll;
    overflow-x: hidden;
    display: block;
    
    .photo-filter{
        color: aliceblue;
        margin-top:10px;
        text-align: center;
        ul{
            @include layout(inline-block,100%,"");
            text-align: center;
            
            li{
                @include layout(inline-block,22%,40px);
                line-height:40px;
                text-align: center;
                box-sizing: border-box;
                border-bottom: 1px solid orangered
            }
            li.clicked{
                border-bottom: 3px solid orangered
            }
        }
        
    }
    .banner{
        @include pages(""); 
        min-height: 824px;
        .single-portfolio{
            @include layout(inline-block,300px,210px);
            float: left;
            text-align : center;
            margin: 3px;
           .img-responsive{
            max-height: 200px;
        }
        }
    }
    .locationPage{
        @include pages($main-color);
    }
    .rulePage{
        @include pages(yellow);
    }
    .contentPage{
        @include pages(gray);
    }
}

.imgDisplay{
    @include layout(none,100%,100% );
    @include position(fixed,0,"","","");
    z-index: 1;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.75);
    .show{
       // @include layout("",calc(100vw/2),calc(100vh/2) );
        //@include position(absolute,25%,"","",25%);
        img{
            //max-width: calc(100vw*0.5);
           // max-height: calc(100vh*0.5); margin:auto 0;
        }
        .close{
            @include layout("",20px,20px );
            
            //@include position(absolute,-22px,-22px,"","");
            line-height: 20px;
            text-align: center;
            
        
        }
        .close::before {
            content: "\2716";
            }
        .pre{
            @include layout("",0px,0px );
            @include triangle(30px,red,left);
            @include position(absolute,45%,"","",""); 
            
        }
        .next{
            @include layout("",0px,0px );    
            @include triangle(30px,red,right);
            @include position(absolute,45%,0,"","");
        }
    }
}*/
